@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

:root{
  --main-text-color: #ffffff;
  --primary-color: #212428;
  --secondary-color: #ff014E;
  --max-width: 900px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

